@import "tailwindcss";

.titulo-seccion {
  margin-top: 20px;
  font-size: 1.5rem;
}

.home {
  padding: 20px;
  text-align: center;
}

.home p {
  margin: 10px 0;
  line-height: 1.5;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home li {
  margin: 5px 0;
}

.btn-reportar {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: red;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-reportar:hover {
  background: darkred;
}

.btn-nav {
  display: block;
  text-decoration: none;
  color: white;
  background: #3b82f6;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #2563eb;
}
